.panel {
  background: $panel;
  margin: 2 4;
  padding: 3;
  border: panel orange;
  border-title-align: center;
}

.center {
  align: center middle;
}

LoginScreen Input {
  margin-top: 1;
}

MenuScreen Button {
  margin-top: 1;
}

MenuScreen .panel * {
  width: auto;
}
