aiohttp==3.9.5 ; python_version >= "3.10" and python_version < "3.13"
aioprometheus==23.12.0 ; python_version >= "3.10" and python_version < "3.13"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
annotated-types==0.6.0 ; python_version >= "3.10" and python_version < "3.13"
anyio==4.3.0 ; python_version >= "3.10" and python_version < "3.13"
async-timeout==4.0.3 ; python_version >= "3.10" and python_full_version <= "3.11.2"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "3.13"
auth0-python==4.7.1 ; python_version >= "3.10" and python_version < "3.13"
backports-strenum==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
blacksheep==2.0.7 ; python_version >= "3.10" and python_version < "3.13"
certifi==2024.2.2 ; python_version >= "3.10" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.1.0 ; python_version >= "3.10" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and (sys_platform == "win32" or platform_system == "Windows")
cryptography==42.0.5 ; python_version >= "3.10" and python_version < "3.13"
dnspython==2.6.1 ; python_version >= "3.10" and python_version < "3.13"
email-validator==2.1.1 ; python_version >= "3.10" and python_version < "3.13"
essentials-openapi==1.0.9 ; python_version >= "3.10" and python_version < "3.13"
essentials==1.1.5 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
frozenlist==1.4.1 ; python_version >= "3.10" and python_version < "3.13"
guardpost==1.0.2 ; python_version >= "3.10" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.13"
httpcore==1.0.4 ; python_version >= "3.10" and python_version < "3.13"
httptools==0.6.1 ; python_version >= "3.10" and python_version < "3.13"
httpx==0.27.0 ; python_version >= "3.10" and python_version < "3.13"
idna==3.6 ; python_version >= "3.10" and python_version < "3.13"
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "3.13"
linkify-it-py==2.0.3 ; python_version >= "3.10" and python_version < "3.13"
loguru==0.7.2 ; python_version >= "3.10" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
markdown-it-py[linkify,plugins]==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "3.13"
mdit-py-plugins==0.4.0 ; python_version >= "3.10" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.13"
multidict==6.0.5 ; python_version >= "3.10" and python_version < "3.13"
orjson==3.9.15 ; python_version >= "3.10" and python_version < "3.13"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.13" and platform_python_implementation != "PyPy"
pydantic-core==2.16.3 ; python_version >= "3.10" and python_version < "3.13"
pydantic-settings==2.2.1 ; python_version >= "3.10" and python_version < "3.13"
pydantic==2.6.3 ; python_version >= "3.10" and python_version < "3.13"
pyee==11.1.0 ; python_version >= "3.10" and python_version < "3.13"
pygments==2.17.2 ; python_version >= "3.10" and python_version < "3.13"
pyjwt==2.8.0 ; python_version >= "3.10" and python_version < "3.13"
pyjwt[crypto]==2.8.0 ; python_version >= "3.10" and python_version < "3.13"
pymitter==0.5.1 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.13"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.13"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.13"
quantile-python==1.1 ; python_version >= "3.10" and python_version < "3.13"
redis==5.0.1 ; python_version >= "3.10" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.13"
rich==13.7.0 ; python_version >= "3.10" and python_version < "3.13"
rodi==2.0.6 ; python_version >= "3.10" and python_version < "3.13"
sentry-sdk==1.40.6 ; python_version >= "3.10" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
textual==0.52.1 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.10.0 ; python_version >= "3.10" and python_version < "3.13"
uc-micro-py==1.0.3 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "3.13"
uvicorn==0.27.1 ; python_version >= "3.10" and python_version < "3.13"
uvloop==0.19.0 ; python_version >= "3.10" and python_version < "3.13"
websockets==12.0 ; python_version >= "3.10" and python_version < "3.13"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
xdg-base-dirs==6.0.1 ; python_version >= "3.10" and python_version < "3.13"
yarl==1.9.4 ; python_version >= "3.10" and python_version < "3.13"
